<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="LogConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n"/>
    </Console>
    <RollingFile name="ToRollingFile" fileName="D:/проекти Java/WebTesting/logs/logs.log"
                 filePattern="D:/проекти Java/WebTesting/logs/$${date:yyyy-MM}/WebTesting-%d{dd-MM-yyyy}-%i.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %c{1}:%L - %m%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <Root level="all">
        <AppenderRef ref="ToRollingFile"/>
        <AppenderRef ref="LogConsole"/>
    </Root>
</Loggers>
</Configuration>